#container{
    width:100%;
    height:auto;
    user-select:none;
}
#type{
    max-width:1000px;
    margin:auto;
    padding-top:160px;
}
#type::after{
    content:"";
    display:block;
    clear:both;
}
#type>div{
    float:left;
    width:50%;
    height:100%;
    padding:20px;
    position:relative;
}
#type>div img{
    display:block;
    width:100%;
}
#type>div img:hover{
    filter:grayscale(100%) brightness(70%);
    transition:all 0.8s;
}

#type>div>p:last-child{
    position:absolute;
    top:40px;
    right:40px;
    font-size:50px;
    font-weight:bold;
    color:#fff;
    text-align:right;
}
#type>div>p:last-child>span{
    font-size:20px;
    font-weight:normal;
}
#type>div:nth-child(3),
#type>div:nth-child(4){margin-bottom:60px;}

/*============*/

/*브라우저의 넓이가 768px 이하 일 때*/
@media screen and (max-width:768px){
    #type>div:nth-child(1),
    #type>div:nth-child(3){padding-right:10px;}
    #type>div:nth-child(2),
    #type>div:nth-child(4){padding-left:10px;}
    #type>div:nth-child(3),
    #type>div:nth-child(4){padding-top:0px;}

    #type>div>p:last-child{
        font-size:36px;
        right:20px;
    }
    #type>div>p:last-child>span{
        font-size:16px;
    }
    #type>div:nth-child(2)>p:last-child,
    #type>div:nth-child(4)>p:last-child{
        right:30px;
    }
    #type>div:nth-child(3)>p:last-child,
    #type>div:nth-child(4)>p:last-child{
        top:20px;
    }
}

/*브라우저의 넓이가 480px 이하 일 때*/
@media screen and (max-width:480px){
    #container{height:100%;}
    #type{padding-top:120px;}
    #type>div>p:last-child{
        font-size:24px;
    }
    #type>div>p:last-child>span{
        font-size:11px;
    }

    #type>div:nth-child(3),
    #type>div:nth-child(4){margin-bottom:20px;}
}

/*브라우저의 넓이가 400px 이하 일 때*/
@media screen and (max-width:400px){
    #type>div>p:last-child{
        font-size:20px;
    }
    #type>div>p:last-child>span{
        font-size:10px;
    }

    #type>div:nth-child(3),
    #type>div:nth-child(4){margin-bottom:20px;}
}