#container{
    width:100%;
    height:100vh;
    user-select:none;
}
#type{
    max-width:1000px;
    margin:auto;
    padding-top:160px;
}
#type>div{
    float:left;
    width:50%;
    height:100%;
    padding:20px;
    position:relative;
}
#type>div img{
    display:block;
    width:100%;
}
#type>div img:hover{
    filter:grayscale(100%) brightness(70%);
    transition:all 0.8s;
}

#type>div>a:last-child{
    position:absolute;
    top:20px;
    right:40px;
    font-size:40px;
    font-weight:bold;
    color:#fff;
}
#type>div:nth-child(3),
#type>div:nth-child(4){margin-bottom:60px;}

footer{float:left;}
/*============*/

/*브라우저의 넓이가 980px 이하 일 때*/
@media screen and (max-width:980px){
    #type>div>a:last-child{font-size:34px;}
}
/*브라우저의 넓이가 768px 이하 일 때*/
@media screen and (max-width:768px){
    #type>div>a:last-child{
        right:30px;
        font-size:26px;
    }
    #type>div:nth-child(1),
    #type>div:nth-child(3){padding-right:10px;}
    #type>div:nth-child(2),
    #type>div:nth-child(4){padding-left:10px;}
    #type>div:nth-child(3),
    #type>div:nth-child(4){padding-top:0px;}

    #type>div:nth-child(2)>a:last-child,
    #type>div:nth-child(4)>a:last-child{right:40px;}
    #type>div:nth-child(3)>a:last-child,
    #type>div:nth-child(4)>a:last-child{
        top:0px;
    }
}
/*브라우저의 넓이가 480px 이하 일 때*/
@media screen and (max-width:480px){
    #container{height:100%;}
    #type{padding-top:120px;}
    #type>div>a:last-child{
        top:25px;
        right:20px;
        font-size:18px;
    }
    #type>div:nth-child(3),
    #type>div:nth-child(4){margin-bottom:30px;}
    #type>div:nth-child(2)>a:last-child,
    #type>div:nth-child(4)>a:last-child{right:30px;}
}